@charset "UTF-8";

#bbpress-forums hr {
	margin: 0 0 24px 0;
}

#bbpress-forums {
	background: transparent;
	clear: both;
	margin-bottom: 80px;
	overflow: hidden;
	font-size: 12px;
	padding: 0;
}

#subscription-toggle a {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
	display: inline-block;
}

#bbpress-forums #bbp-user-wrapper {
	font-size: 14px;
}

#bbpress-forums #bbp-user-wrapper p {
	margin-bottom: 5px;
}

#bbpress-forums #bbp-user-wrapper p.bbp-user-description {
	margin-bottom: 30px;
}

#bbpress-forums div.even,
#bbpress-forums ul.even {
	background-color: #fff;
}

#bbpress-forums div.odd,
#bbpress-forums ul.odd {
	background-color: transparent;
}

body.reply-edit .reply {
	float: none;
}

#bbpress-forums div.reply {
	height: auto;
	width: 100%;
}

#bbpress-forums div.bbp-forum-header,
#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header {
	background-color: #f5f5f5;
}

#bbpress-forums .status-trash.even,
#bbpress-forums .status-spam.even {
	background-color: #fee;
}
#bbpress-forums .status-trash.odd,
#bbpress-forums .status-spam.odd {
	background-color: #fdd;
}

#bbpress-forums .status-closed,
#bbpress-forums .status-closed a {
	color: #ccc;
}

#bbpress-forums ul {
	background:  none;
	list-style: none;
	margin: 0;
	padding: 0;
}

.content-area .bbp-forum-title, .content-area .bbp-topic-permalink {
    font-weight: 600;
    line-height: 24px;
    display: table-cell;
}

#bbpress-forums ul.bbp-threaded-replies {
	margin-left: 50px;
}

#bbpress-forums li {
	background: none;
	margin: 0;
	list-style: none;
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results {
	font-size: 16px;
	overflow: hidden;
	border: 1px solid #eaeaea;
	margin-bottom: 20px;
	clear: both;
	border-radius: 4px;
}

#bbpress-forums ul.bbp-search-results {border-top:none;}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-body,
#bbpress-forums li.bbp-footer {
	clear: both;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
	background: #f5f5f5;
	border-top: none;
	font-weight: 600;
	padding: 10px 15px;
	text-align: center;
	color: #1f1f1f;
	font-size: 16px;
}

#bbpress-forums li.bbp-footer {display:none;}

#bbpress-forums li.bbp-header {
	background: #f5f5f5;
}

#bbpress-forums li.bbp-header ul {
	overflow: hidden;
}

#bbpress-forums .bbp-forums-list {
	margin: 0 0 0 0px;
	padding-left: 15px;
	border-left: none;
	margin-top: 0;
	line-height: 1.6;
}

#bbpress-forums .bbp-forums-list li {
	display: inline;
	font-size: 12px;
}

#bbpress-forums li.bbp-footer p {
	margin: 0;
	line-height: 1em;
}

li.bbp-forum-info,
li.bbp-topic-title {
	float: left;
	text-align: left;
	width: 75%;
}
li.bbp-forum-topic-count,
li.bbp-topic-voice-count,
li.bbp-forum-reply-count,
li.bbp-topic-reply-count {
	float: left;
	text-align: center;
	width: 10%;
}

li.bbp-forum-freshness,
li.bbp-topic-freshness {
	text-align: center;
	float: left;
	width: 22%;
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
	border-top: 1px solid #eaeaea;
	overflow: hidden;
	padding: 15px 15px;
}

li.bbp-header div.bbp-topic-content span#subscription-toggle,
li.bbp-header div.bbp-topic-content span#favorite-toggle,
li.bbp-header div.bbp-reply-content span#subscription-toggle,
li.bbp-header div.bbp-reply-content span#favorite-toggle {
	float: right;
}

#bbpress-forums div.bbp-forum-title h3,
#bbpress-forums div.bbp-topic-title h3,
#bbpress-forums div.bbp-reply-title h3 {
	background: none;
	border: none;
	font-size: 16px;
	line-height: 1em;
	margin: 8px 0;
	padding: 0;
	text-transform: none;
}

#bbpress-forums div.bbp-forum-author,
#bbpress-forums div.bbp-topic-author,
#bbpress-forums div.bbp-reply-author {
	float: left;
	text-align: left;
	width: 115px;
}

#bbpress-forums div.bbp-forum-author img.avatar,
#bbpress-forums div.bbp-topic-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar {
	border: none;
	max-width: 60px;
	padding: 0;
	margin: 25px auto 0 auto;
	float: none;
	border-radius: 90px;
	margin-left: 15px;
	box-shadow: 0 5px 40px rgba(0,0,0,.07);
	margin-bottom: 10px;
}

#bbpress-forums div.bbp-forum-author a.bbp-author-name,
#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
	margin: 0 15px;
	word-break: break-word;
	display: inline-block;
}

#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
	clear: left;
	display: block;
}

#bbpress-forums div.bbp-forum-author .bbp-author-name,
#bbpress-forums div.bbp-topic-author .bbp-author-name,
#bbpress-forums div.bbp-reply-author .bbp-author-name
{
    display: block;
    margin-left: 15px;
}


#bbpress-forums div.bbp-forum-author .bbp-author-role,
#bbpress-forums div.bbp-topic-author .bbp-author-role,
#bbpress-forums div.bbp-reply-author .bbp-author-role {
	font-size: 14px;
	font-style: normal;
	margin-left: 15px;
}

#bbpress-forums .bbp-reply-author br {
    display: none;
}

#bbpress-forums li.bbp-header .bbp-search-author,
#bbpress-forums li.bbp-footer .bbp-search-author,
#bbpress-forums li.bbp-header .bbp-forum-author,
#bbpress-forums li.bbp-footer .bbp-forum-author,
#bbpress-forums li.bbp-header .bbp-topic-author,
#bbpress-forums li.bbp-footer .bbp-topic-author,
#bbpress-forums li.bbp-header .bbp-reply-author,
#bbpress-forums li.bbp-footer .bbp-reply-author {
	float: left;
	margin: 0;
	padding: 0;
	width: 120px;
}


.bbp-replies-widget .bbp-author-avatar img {
    margin-right: 10px;
    border-radius: 90px;
}

#bbpress-forums li.bbp-header .bbp-search-content,
#bbpress-forums li.bbp-footer .bbp-search-content,
#bbpress-forums li.bbp-header .bbp-forum-content,
#bbpress-forums li.bbp-footer .bbp-forum-content,
#bbpress-forums li.bbp-header .bbp-topic-content,
#bbpress-forums li.bbp-footer .bbp-topic-content,
#bbpress-forums li.bbp-header .bbp-reply-content,
#bbpress-forums li.bbp-footer .bbp-reply-content {
	margin-left: 140px;
	padding: 0;
	text-align: left;
}

div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header,
li.bbp-body div.hentry {
	margin-bottom: 0;
	overflow: hidden;
	padding: 10px 15px;
}

div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header {
	border-top: 1px solid #eaeaea;
	clear: both;
}

div.bbp-reply-header {
	border-bottom: 1px solid #eaeaea;
	font-size: 14px;
}

span.bbp-author-ip {
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #aaa;
}

/* =Topic and reply content
-------------------------------------------------------------- */

#bbpress-forums div.bbp-forum-content,
#bbpress-forums div.bbp-topic-content,
#bbpress-forums div.bbp-reply-content {
	margin-left: 140px;
	padding: 20px 15px 15px 0;
	text-align: left;
}

/* Clearing hack */
#bbpress-forums div.bbp-forum-content:after,
#bbpress-forums div.bbp-topic-content:after,
#bbpress-forums div.bbp-reply-content:after {
	clear: both;
	content: ".";
	display: block;
	float: none;
	height: 0;
	font-size: 0;
	visibility: hidden;
}

#bbpress-forums div.bbp-topic-content a,
#bbpress-forums div.bbp-reply-content a {
	background: none;
	border: none;
	display: inline;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#bbpress-forums div.bbp-topic-content h1,
#bbpress-forums div.bbp-reply-content h1,
#bbpress-forums div.bbp-topic-content h2,
#bbpress-forums div.bbp-reply-content h2,
#bbpress-forums div.bbp-topic-content h3,
#bbpress-forums div.bbp-reply-content h3,
#bbpress-forums div.bbp-topic-content h4,
#bbpress-forums div.bbp-reply-content h4,
#bbpress-forums div.bbp-topic-content h5,
#bbpress-forums div.bbp-reply-content h5,
#bbpress-forums div.bbp-topic-content h6,
#bbpress-forums div.bbp-reply-content h6 {
	clear: none;
	line-height: 1em;
	margin: 24px 0;
	padding: 0;
}

#bbpress-forums div.bbp-topic-content img,
#bbpress-forums div.bbp-reply-content img {
	max-width: 100%;
}

#bbpress-forums div.bbp-topic-content ul,
#bbpress-forums div.bbp-reply-content ul,
#bbpress-forums div.bbp-topic-content ol,
#bbpress-forums div.bbp-reply-content ol {
	margin: 0 15px 15px;
	padding: 0;
}

#bbpress-forums div.bbp-topic-content ul li,
#bbpress-forums div.bbp-reply-content ul li {
	list-style-type: disc;
}

#bbpress-forums div.bbp-topic-content ol li,
#bbpress-forums div.bbp-reply-content ol li {
	list-style-type: decimal;
}

#bbpress-forums div.bbp-topic-content ol li li,
#bbpress-forums div.bbp-reply-content ol li li {
	list-style-type: lower-alpha;
}

#bbpress-forums div.bbp-topic-content ol li li li,
#bbpress-forums div.bbp-reply-content ol li li li {
	list-style-type: upper-roman;
}

#bbpress-forums div.bbp-topic-content code,
#bbpress-forums div.bbp-reply-content code,
#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
	font-family: Inconsolata, Consolas, Monaco, Lucida Console, monospace;
	display: inline-block;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 0 5px;
	max-width: 95%;
	vertical-align: middle;
	margin-top: -3px;
}

#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
	display: block;
	line-height: 18px;
	margin: 0 0 24px;
	padding: 5px 10px;
	white-space: pre;
	overflow: auto;
}

#bbpress-forums div.bbp-topic-content pre code,
#bbpress-forums div.bbp-reply-content pre code {
	display: block;
	border: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	overflow-wrap: normal;
	overflow: auto;
	max-width: 100%;
}

/* =Reply to
-------------------------------------------------------------- */

#bbpress-forums div.bbp-reply-to {
	margin-left: 130px;
	padding: 12px 12px 12px 0;
	text-align: right;
}

#bbpress-forums div#bbp-cancel-reply-to {
	text-align: right;
}

/* =Breadcrumb and Tags
-------------------------------------------------------------- */

div.bbp-breadcrumb {
	float: left;
}

div.bbp-breadcrumb,
div.bbp-topic-tags {
	font-size: 14px;
}

div.bbp-breadcrumb a {
	color:#1f1f1f;
}

.bbp-breadcrumb-sep {
	margin: 0 3px;
}

#bbpress-forums div.bbp-breadcrumb p,
#bbpress-forums div.bbp-topic-tags p {
	margin-bottom: 10px
}

#bbpress-forums div.bbp-topic-tags {
	float: right;
}

#bbp-topic-hot-tags {
	clear: both;
}

/* =Search
-------------------------------------------------------------- */

#bbpress-forums #bbp-search-form {
	clear: left;
}

	#bbpress-forums #bbp-search-form .hidden {
		height: 0;
		width: 0;
		overflow: hidden;
		position: absolute;
		background: none;
		left: -999em;
	}

	#bbpress-forums #bbp-search-form #bbp_search {
		display: inline-block;
		width: calc(100% - 200px);
		height: 46px;
		line-height: 46px;
		border: 1px solid #eaeaea;
		outline: none;
		padding: 0 20px;
		font-size: inherit;
		font-size: 13px;
	}

#user-submit,
#bbp_search_submit {
	font-weight: 700;
	padding: 0 30px;
	margin: 11px 0 0 15px;
	box-sizing: content-box;
	display: block;
	float: right;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	padding: 14px 25px;
	line-height: 1;
	cursor: pointer;
	margin-right: 15px;
	min-width: auto;
	outline: none;
	color: #fff;
	box-shadow: none;
	border: none;
	margin: 0;
	font-size: 14px;
	width: 140px;
	line-height: 18px;
}
.bbpress #user-submit {
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}


#bbpress-forums div.bbp-search-form {
	float: right;
	width: 100%;
	margin-bottom: 20px;
}

/* =Admin Links
-------------------------------------------------------------- */

span.bbp-admin-links {
	float: right;
	color: #ddd;
}
span.bbp-admin-links a {
	color: #1f1f1f;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
	opacity: 1;
}
fieldset span.bbp-admin-links {
	float: left;
}
tr td span.bbp-admin-links a:hover {
	color: #ff4b33;
}
td.bbp-topic-admin-links,
td.bbp-topic-counts {
	width: 50%;
}

.bbp-forum-header a.bbp-forum-permalink,
.bbp-topic-header a.bbp-topic-permalink,
.bbp-reply-header a.bbp-reply-permalink {
	float: right;
	margin-left: 10px;
	color: #ccc;
}

/* =Toggles
-------------------------------------------------------------- */

.bbp-row-actions #favorite-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	}
	.bbp-row-actions #favorite-toggle a:hover {
		color: #5a5;
		border-color: #7c7;
		background-color: #beb;
	}
	.bbp-row-actions #favorite-toggle span.is-favorite a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		}
		.bbp-row-actions #favorite-toggle span.is-favorite a:hover {
			color: #c88;
			border-color: #c88;
			background-color: #fdd;
		}

.bbp-row-actions #subscription-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	}
	.bbp-row-actions #subscription-toggle a:hover {
		color: #5a5;
		border-color: #7c7;
		background-color: #beb;
	}
	.bbp-row-actions #subscription-toggle span.is-subscribed a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		}
		.bbp-row-actions #subscription-toggle span.is-subscribed a:hover {
			color: #c88;
			border-color: #c88;
			background-color: #fdd;
		}

#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta {
	font-size: 14px;
	margin: 5px 0 5px;
	padding: 0;
	word-wrap: break-word;
	margin: 0;
	margin-top: 5px;
}

#bbpress-forums p.bbp-topic-meta span {
	white-space: nowrap;
}

.bbp-author-name {color: #1f1f1f;}

/* =Pagination
-------------------------------------------------------------- */

.bbp-pagination-count {
	float: left;
	border: 1px solid transparent;
}

.bbp-pagination-links {
	float: right;
	list-style: none;
	display: inline;
	}
	.bbp-pagination-links a,
	.bbp-pagination-links span.current {
		display: block;
		float: left;
		padding: 0px 5px;
		margin-left: 5px;
		border: 1px solid #efefef;
		text-decoration: none;
		font-size: 14px;
		border-radius: 100%;
		width: 30px;
		height: 30px;
		line-height: 29px;
		text-align: center;
		font-weight: bold;
		}
		.bbp-pagination-links a:hover,
		.bbp-pagination-links span.current {
			background: none;
			opacity: 1;
			border: 1px solid #eaeaea;
		}

	.bbp-pagination-links span.dots {
		display: block;
		float: left;
		padding: 1px 4px;
		margin-left: 5px;
	}

.bbp-pagination {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.bbp-topic-pagination {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 2px;
	}
	.bbp-topic-pagination a {
		font-size: 10px;
		line-height: 10px;
		padding: 1px 3px;
		border: 1px solid #ddd;
		text-decoration: none;
	}


/* =Forms
-------------------------------------------------------------- */

#bbpress-forums fieldset.bbp-form {
	clear: left;
}

#bbpress-forums fieldset.bbp-form {
	border: 1px solid #eaeaea;
	padding: 10px 20px;
	margin-bottom: 10px;
	border-radius: 4px;
}

#bbpress-forums .bbp-login-form fieldset.bbp-form {
	border: none
}

#bbpress-forums fieldset.bbp-form legend {
	padding: 5px;
}

#bbpress-forums fieldset.bbp-form label {
	margin: 0;
	display: inline-block;
}

#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,
#bbp-login fieldset label,
#bbp-register fieldset label,
#bbp-lost-pass fieldset label {
	width: 100px;
}

#bbpress-forums fieldset.bbp-form p,
#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums fieldset.bbp-form select,
#bbpress-forums fieldset.bbp-form input {
	margin: 0 0 10px;
}

#bbpress-forums fieldset.bbp-form select,
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content,
#bbpress-forums fieldset.bbp-form input {

border: 1px solid #eaeaea;

outline: none;

border-radius: 4px;
}

textarea#bbp_reply_content,
textarea#bbp_topic_content,
textarea#bbp_forum_content {
	width: 97%;
	box-sizing: border-box;
}

textarea#bbp_forum_content {
	height: 210px;
}

#bbpress-forums fieldset.bbp-forum-form-attributes {
	width: 200px;
	float: right;
	clear: none;
	margin-left: 25px;
}

/**
 * Fix for too-long forum names, usually from conversion
 */
#bbpress-forums fieldset select#bbp_forum_id {
	max-width: 200px;
}

.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
	clear: left;
}
body.topic-edit .bbp-topic-form div.avatar img,
body.reply-edit .bbp-reply-form div.avatar img,
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img {
	margin-right: 0;
	padding: 10px;
	border: 1px solid #ddd;
	line-height: 0;
	background-color: #efefef;
}

body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
	font-size: 10px;
	background-color: #f0fff8;
	border: 1px solid #CEEFE1;
	display: block;
	padding: 8px;
	margin-top: 5px;
	width: 369px;
}

#merge_tag,
#delete_tag {
	display: inline;
}

div.bbp-submit-wrapper {
	margin-top: 15px;
	float: right;
	clear: both;
}

p.form-allowed-tags {
	max-width: 100%;
}

/* =TinyMCE in themes
-------------------------------------------------------------- */
#bbpress-forums div.bbp-the-content-wrapper {
	margin-bottom: 10px;
}


#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
	width: 100%;
	margin: 0;
	font-size: 12px;
}

#bbpress-forums div.bbp-the-content-wrapper table,
#bbpress-forums div.bbp-the-content-wrapper tbody,
#bbpress-forums div.bbp-the-content-wrapper tr,
#bbpress-forums div.bbp-the-content-wrapper td {
	border: none;
	padding: 0;
	margin: 0;
	width: auto;
	line-height: 1em;
}

#bbpress-forums div.bbp-the-content-wrapper input {
	font-size: 12px;
	padding: 5px;
	margin: 0 2px 0 0;
	line-height: 1em;
}

#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {
	padding: 5px;
	min-height: 26px;
}
#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
	padding: 4px 4px 8px;
}

#bbpress-forums div.wp-editor-container {
	margin: 0;
	padding: 0;
	line-height: 0;
}

#bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar {
	line-height: 16px;
}

/* =Edit User
-------------------------------------------------------------- */

#bbpress-forums #bbp-your-profile fieldset {
	padding: 20px 20px 0 20px;
	margin-bottom: 25px;
}
	#bbpress-forums #bbp-your-profile fieldset div {
		margin-bottom: 20px;
		float: left;
		width: 100%;
		clear: left;
	}
	#bbpress-forums #bbp-your-profile fieldset select {
		margin-bottom: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset input,
	#bbpress-forums #bbp-your-profile fieldset textarea {
		margin-bottom: 0;
		width: 60%;
		background: #f9f9f9;
		border: 1px solid #ddd;
		box-shadow: none;
		padding: 5px 8px;
		border-radius: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset input:focus,
	#bbpress-forums #bbp-your-profile fieldset textarea:focus {
		border: 1px solid #ccc;
		box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
		outline-color: rgba(240,255,240,0.1);
	}
	#bbpress-forums #bbp-your-profile fieldset.bbp-form input.checkbox {
		width: auto;
	}
	#bbpress-forums #bbp-your-profile fieldset legend {
		display: none;
	}
	#bbpress-forums #bbp-your-profile fieldset label[for] {
		float: left;
		width: 20%;
		padding: 5px 20px 5px 0;
		text-align: right;
		cursor: pointer;
	}
	#bbpress-forums #bbp-your-profile fieldset dl label[for] {
		text-align: left;
		width: 60%;
	}
	#bbpress-forums #bbp-your-profile fieldset span.description {
		margin: 5px 0 0 20%;
		font-size: 12px;
		font-style: italic;
		float: left;
		clear: left;
		width: 60%;
		padding: 5px 8px;
		border: #cee1ef 1px solid;
		background-color: #f0f8ff;
	}

	#bbpress-forums #bbp-your-profile fieldset fieldset {
		margin: 0;
		border: none;
		padding: 0;
		clear: none;
		float: none;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password {
		width: 60%;
		display: inline;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password input,
	#bbpress-forums #bbp-your-profile fieldset fieldset.password span {
		width: 100%;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.capabilities dl {
		margin: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {
		margin-left: 0;
		margin-bottom: 20px;
	}

	#bbpress-forums #bbp-your-profile fieldset.submit button {
		float: right;
	}

/* =Notices
-------------------------------------------------------------- */

div.bbp-template-notice,
div.indicator-hint {
	border-width: 1px;
	border-style: solid;
	padding: 0 0.6em;
	margin: 5px 0 20px;
	border-radius: 3px;
	background-color: #ffffe0;
	border-color: #e6db55;
	color: #000;
	clear: both;
}
div.bbp-template-notice a {
	color: #555;
	text-decoration: none;
}
	div.bbp-template-notice a:hover {
		color: #000;
	}
	div.bbp-template-notice.info {
		border: 1px solid #eaeaea;
		background-color: #f5f5f5;
	}
	div.bbp-template-notice.important {
		border: #e6db55 1px solid;
		background-color: #fffbcc;
	}
	div.bbp-template-notice.error,
	div.bbp-template-notice.warning {
		background-color: #ffebe8;
		border-color: #c00;
	}
	div.bbp-template-notice.error a,
	div.bbp-template-notice.warning a {
		color: #c00;
	}
	div.bbp-template-notice p {
		margin: 10px!important;
		padding: 2px;
		font-size: 14px;
		line-height: 140%;
	}

/* =Stickies
-------------------------------------------------------------- */

.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky {
	background-color: #ffffe0 !important;
	font-size: 1.1em;
}

/* =Revisions
-------------------------------------------------------------- */

#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log {
	border-top: 1px dotted #ddd;
	width: 100%;
	margin: 0;
	padding: 8px 0 0 0;
	font-size: 11px;
	color: #aaa;
}

#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log li {
	list-style-type: none;
}

/* =Widgets
-------------------------------------------------------------- */

.bbp-login-form fieldset legend {
	display: none;
}

.bbp-login-form .bbp-username input,
.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input {
	padding: 5px;
}

.bbp-login-form label {
    width: 140px;
    display: inline-block;
    font-weight: 400;
    color: inherit;
    line-height: 1.3;
    margin-bottom: 0;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 20px;
}

#sidebar .bbp-login-form label {
	width: 70px;
}

.bbp-login-form .bbp-username,
.bbp-login-form .bbp-email,
.bbp-login-form .bbp-password,
.bbp-login-form .bbp-remember-me,
.bbp-login-form .bbp-submit-wrapper {
	margin-bottom: 10px;
}

.bbp-login-form .bbp-remember-me {

}

.bbp-login-form .bbp-submit-wrapper {
	text-align: right;
	width: 100%;
	margin: 0;
}

.bbp-login-form .bbp-login-links {font-weight: 600;float: left;width: 100%;margin-top: 15px;}

.bbp-login-form .bbp-login-links .bbp-lostpass-link {float:right;display: block;clear: none;line-height: 1;}
.bbp-login-form .bbp-login-links .bbp-register-link {float: left;display: block;line-height: 1;}

.bbp-login-form .bbp-login-links a {
	float: left;
	clear: left;
}

.bbp-logged-in img.avatar {
	float: left;
	margin: 0 15px 0 0;
	border-radius: 90px;
}

.bbp-logged-in h4 {
	margin-bottom:0!important;
	line-height: 1.1;
}

.bbp-logged-in h4 {
	font-weight: 600;
	font-size: 16px;
	clear: none;
	margin-bottom: 10px;
}

/* =Avatars
-------------------------------------------------------------- */

#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar {
	float: none;
	margin-bottom: -7px;
	border: 3px double #ddd;
}

fieldset div.avatar {
	float: right;
}

/* =BuddyPress Activity Streams
-------------------------------------------------------------- */

.activity-list li.bbp_topic_create .activity-content .activity-inner,
.activity-list li.bbp_reply_create .activity-content .activity-inner {
	border-left: 2px solid #eaeaea;
	margin-left: 5px;
	padding-left: 10px;
}

/* =User Pages
-------------------------------------------------------------- */

#bbpress-forums h1 {
	clear: none;
	font-size: 1.8em;
	line-height: 1em;
	padding-bottom: 10px;
}

#bbpress-forums #bbp-user-wrapper {
	float: left;
	width: 100%;
}

#bbpress-forums .bbp-user-section {
	overflow: auto;
}

#bbpress-forums #bbp-user-wrapper h2.entry-title {
	font-size: 28px;
	margin: 0;
	padding-bottom: 25px;
	padding-top: 0;
	clear: none;
}

#bbpress-forums #bbp-user-wrapper ul.bbp-lead-topic,
#bbpress-forums #bbp-user-wrapper ul.bbp-topics,
#bbpress-forums #bbp-user-wrapper ul.bbp-forums,
#bbpress-forums #bbp-user-wrapper ul.bbp-replies,
#bbpress-forums #bbp-user-wrapper fieldset.bbp-form {
	clear: none;
}

#bbpress-forums #bbp-single-user-details {
	margin: 0;
	width: 150px;
	float: left;
	overflow: hidden;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
	margin: 0;
	width: 150px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
	border: 1px solid #eaeaea;
	height: 150px;
	padding: 0;
	margin: 0 0 20px 0;
	width: 150px;
	box-shadow: 0 5px 40px rgba(0,0,0,.07);
	border-radius: 4px;
	overflow: hidden;
}

#bbpress-forums #bbp-single-user-details #bbp-user-description {
	float: none;
	margin-left: 180px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
	float: none;
	margin: 0;
	border-bottom: 1px solid #eaeaea;
	border-radius: 4px;
}

#bbp-user-navigation ul {
	border-radius: 4px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
	margin: 0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
	padding: 7px 15px;
	display: block;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-bottom: none;
	color: inherit;
	font-weight: 600;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
	background: #f5f5f5;
	opacity: 1;
	color: #1f1f1f;
}

#bbpress-forums #bbp-user-body {
	margin-left: 180px;
}

body.my-account #bbpress-forums {
	border-top: none;
	padding-top: 0;
	margin-bottom: 0;
}

/* =User Capabilities
-------------------------------------------------------------- */

#bbpress-forums dl.bbp-user-capabilities {
	display: inline-block;
	vertical-align: top;
}

#bbpress-forums dl.bbp-user-capabilities dt {
	margin: 0 0 10px;
	text-transform: capitalize;
}

#bbpress-forums dl.bbp-user-capabilities dd {
	margin: 0;
	padding: 0;
}

/* =BuddyPress Group Forums
-------------------------------------------------------------- */

#bbpress-forums div.row-actions {
	font-size: 11px;
	visibility: hidden;
}

#bbpress-forums li:hover > div.row-actions {
	visibility: visible;
}

/*--------------------------------------------------------------
 Media Queries
--------------------------------------------------------------*/

/* =Standard Mobile Landscape
-------------------------------------------------------------- */
@media screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
	-webkit-text-size-adjust: none;
}
@media only screen and (max-width: 480px) {
	#bbpress-forums div.bbp-topic-tags {
		clear: left;
		float: left;
	}
	div.bbp-search-form input,
	div.bbp-search-form button {
		font-size: 11px;
		padding: 2px;
	}
	li.bbp-forum-info,
	li.bbp-topic-title {
		width: 60%;
	}
	li.bbp-forum-topic-count,
	li.bbp-forum-reply-count,
	li.bbp-topic-voice-count,
	li.bbp-topic-reply-count {
		width: 20%;
	}
	span.bbp-reply-post-date {
		float: left;
	}
	span.bbp-admin-links {
		clear: left;
		float: left;
	}
	#bbpress-forums .bbp-forums-list li {
		display: block;
		font-size: 11px;
	}
	#bbpress-forums .bbp-body div.bbp-reply-author {
		margin: -15px 10px 10px;
		min-height: 100px;
		padding-left: 80px;
		position: relative;
		text-align: left;
		width: 100%;
	}
	#bbpress-forums div.bbp-reply-author a.bbp-author-name {
		clear: none;
		display: inline-block;
		margin-left: 15px;
		word-wrap: break-word;
	}
	#bbpress-forums div.bbp-reply-author img.avatar {
		/* position: absolute; */
		/* top: 15px; */
		/* left: 0; */
		/* width: 60px; */
		/* height: auto; */
	}
	#bbpress-forums div.bbp-reply-author .bbp-author-role {
		font-size: 12px;
		font-style: normal;
	}
	#bbpress-forums .bbp-body div.bbp-reply-content {
		clear: both;
		margin: 10px;
		padding: 0;
	}
	#bbpress-forums div.bbp-reply-content p {
		margin-bottom: 1em;
		text-align: left;
	}
	div.bbp-submit-wrapper {
		float: left;
	}
	#bbpress-forums fieldset.bbp-form {
		padding: 0 10px 10px;
	}
	#bbpress-forums #bbp-user-body {
		clear: both;
		margin-left: 0;
		word-wrap: break-word;
	}
}

/* =Standard Mobile Portrait
-------------------------------------------------------------- */
@media only screen and (max-width: 320px) {
	#bbpress-forums div.bbp-search-form {
		margin-bottom: 10px;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-info,
	#bbpress-forums li.bbp-body li.bbp-forum-info,
	#bbpress-forums li.bbp-header li.bbp-topic-title,
	#bbpress-forums li.bbp-body li.bbp-topic-title {
		width: 100%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-info,
	#bbpress-forums li.bbp-header li.bbp-topic-title {
		text-align: center;
		text-transform: uppercase;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-header li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-header li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-header li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count {
		width: 20%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness {
		width: 58%;
	}
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness {
		margin-top: 7px;
	}
	#bbpress-forums li.bbp-header,
	#bbpress-forums li.bbp-footer {
		font-size: 10px;
	}
	#bbpress-forums li.bbp-header div.bbp-reply-author {
		text-align: left;
		width: 25%;
	}
	#bbpress-forums li.bbp-header div.bbp-reply-content {
		margin-left: 25%;
	}
	#bbpress-forums div.bbp-template-notice img.avatar,
	#bbpress-forums p.bbp-topic-meta img.avatar {
		width: 14px;
		height: auto;
	}
	#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
		padding: 1px;
	}
	#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar td {
		width: 20px;
		height: 20px;
	}
	#bbpress-forums div.wp-editor-container {
		width: 100%;
		overflow: auto;
	}
	#bbpress-forums input#bbp_topic_title,
	#bbpress-forums input#bbp_topic_tags {
		width: 95%;
	}
}

/* =Extra Small Mobile
-------------------------------------------------------------- */
@media only screen and (max-width: 240px) {
	#bbpress-forums li.bbp-header li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-header li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-header li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-header li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-footer div.bbp-reply-author,
	#bbpress-forums li.bbp-footer div.bbp-reply-content {
		width: 45%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness,
	#bbpress-forums li.bbp-header div.bbp-reply-author,
	#bbpress-forums li.bbp-header div.bbp-reply-content {
		clear: both;
		width: 100%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness {
		text-align: center;
	}
	#bbpress-forums li.bbp-body li.bbp-topic-freshness,
	#bbpress-forums li.bbp-header div.bbp-reply-content {
		margin-left: 0;
		text-align: left;
	}
	#bbpress-forums li.bbp-body li.bbp-topic-freshness p.bbp-topic-meta {
		display: inline-block;
	}
	#bbpress-forums li.bbp-header {
		overflow: hidden;
	}
	#bbpress-forums li.bbp-footer div.bbp-reply-content {
		display: inline-block;
		margin-left: 0;
	}
	#bbpress-forums li.bbp-body div.bbp-reply-author {
		min-height: 60px;
		padding-left: 60px;
	}
	#bbpress-forums div.bbp-reply-author img.avatar {
		width: 40px;
		height: auto;
	}
}

.bbpress .breadcrumbs {display: none;}
.bbp-topic-started-in,
body.bbpress .social-share-title, body.bbpress .wpex-social-share, .bbp-topic-freshness, .bbp-forum-freshness, li.bbp-forum-freshness, .bbp-topic-started-by .avatar, .bbp-template-notice.info, .bbp-pagination-count, .bbp-reply-ip, #bbp-search-results .bbp-header {
    display: none;
}


.bbpress .entry-header.blog-header {
	background: #f5f5f5!important;
	padding-top: 205px;
	margin-bottom: 50px;
	padding-bottom: 80px;
}

.bbpress .entry-header.blog-header .section-heading {
	display: inline-block;
	font-size: 26px;
	margin-top: 0;
}

.bbpress-breadcrumbs {
	margin-top: 10px;
}

.bbpress #primary .right-sidebar {
	margin-top: 0;
	margin-left: 10px;
}

.bbp-body a.bbp-forum-title:before, .bbp-body a.bbp-topic-permalink:before, #bbpress-forums #bbp-single-user-details #bbp-user-navigation a:after, #bbpress-forums .subscription-toggle:before, #bbpress-forums #favorite-toggle a:before {
    font-family: "ekko-font";
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-rendering: auto;
}

.bbp-body a.bbp-forum-title:before, .bbp-body a.bbp-topic-permalink:before {
    position: absolute;
    left: 0;
    top: 0px;
    display: inline-block;
    width: 25px;
    font-family: "ekko-font";
    content: "\f086";
}

.bbp-body a.bbp-forum-title, .bbp-body a.bbp-topic-permalink {
    position: relative;
    padding-left: 30px;
}

#bbpress-forums .bbp-forums-list,
#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta {
    padding-left: 30px;
}

.bbpress #wrapper .widget-title {
	font-size: 16px;
}


.bbp-login-form .bbp-username input, .bbp-login-form .bbp-email input, .bbp-login-form .bbp-password input,
.blog_widget #bbp_search {
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	width: 100%;
	box-sizing: border-box;
	min-width: 100%;
	border: 0;
	margin-bottom: 10px;
	background: #fff;
	box-shadow: none;
	letter-spacing: 0;
	outline: 0;
	line-height: 50px;
	height: 50px;
	padding: 0 20px;
	text-align: left;
	font-family: inherit;
	/* border-radius: 4px; */
	font-weight: 400;
	height: 46px;
	line-height: 46px;
	max-width: 100%;
	min-width: 100%;
	border: 1px solid #eaeaea;
	/* border-top-right-radius: 0; */
	/* border-bottom-right-radius: 0; */
	margin-bottom: 0;
	background-color: #fff;
	/* border-radius: 4px; */
}

.bbp-login-form .bbp-username input, .bbp-login-form .bbp-email input, .bbp-login-form .bbp-password input {
	background: #fff;
}

.bbpress .blog_widget .bbp-login-form fieldset {
	width: 100%;
	background-color: #fff;
	border: none;
	padding: 0;
	border-radius: 0;
}

.blog_widget .bbp-login-form fieldset .bbp-password label,
.blog_widget .bbp-login-form fieldset .bbp-username label {
	display:none;
}

.bbpress .blog_widget dl {margin: 0!important;}

.widget_display_stats.blog_widget dt,
.bbpress .blog_widget dt {
    float: left;
    width: 80%;
    padding: 0 12px;
    text-align: left;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
    border-right: none;
    font-weight: normal;
    color: inherit;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.widget_display_stats.blog_widget dd,
.bbpress .blog_widget dd {
    display: inline-block;
    width: 20%;
    background: transparent;
    border: 1px solid #eaeaea;
    color: #1f1f1f;
    text-align: center;
    padding: 0 12px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 6px;
    font-size: 13px;
    background: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 10px!important;
}

.widget_display_stats.blog_widget dl {
	margin: 0!important;
}

.blog_widget #bbp_search_submit {
    position: absolute;
    outline: 0;
    background: none;
    margin-top: 0;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    border: 0;
    top: 0;
    padding: 0;
    right: 0;
    height: 46px;
    width: 46px;
    font-family: "ekko-font";
    opacity: 1;
    background: transparent!important;
    color: inherit;
}

#bbp-search-form {
	position: relative;
}

.blog_widget .bbp-author-avatar:before,
.blog_widget .bbp-reply-topic-title:before,
.blog_widget .bbp-author-name:before {
	display: none;
}

#bbpress-forums #bbp-search-results div.bbp-forum-title h3 a,
#bbpress-forums #bbp-single-user-details #bbp-user-navigation a,
.bbp-body a.bbp-forum-title, .bbp-body a.bbp-topic-permalink,
.bbpress #user-submit,
.bbp-login-form .bbp-login-links a,
div.bbp-breadcrumb a {
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

#bbpress-forums #bbp-search-results div.bbp-forum-title h3 a:hover,
.bbp-body a.bbp-forum-title:hover, .bbp-body a.bbp-topic-permalink:hover,
#bbpress-forums div.bbp-topic-author a.bbp-author-name:hover, #bbpress-forums div.bbp-reply-author a.bbp-author-name:hover,
.bbp-login-form .bbp-login-links a:hover {
	color: #1f1f1f;
}

.bbpress #user-submit:hover {
 	-webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .15);
    box-shadow: 0 8px 25px rgba(0, 0, 0, .15);

}

#bbpress-forums #bbp_search_submit:hover {
    color: #fff!important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .15);
    box-shadow: 0 8px 25px rgba(0, 0, 0, .15);
}


#bbpress-forums #bbp-search-results div.bbp-forum-content {
	margin-left: 0;
}

#bbpress-forums #bbp-search-results div.bbp-forum-header {
	border-bottom: 1px solid #eaeaea;
}

#bbpress-forums #bbp-search-results div.bbp-forum-title h3 {
    font-size: 14px;
    font-weight: 600;
}

#bbpress-forums #bbp-search-results .bbp-forum-post-date {
	font-size: 12px;
}

.bbp-author-avatar img {border-radius: 100%;}

.wpb_text_column #bbpress-forums ul li:before { display: none; }
.wpb_text_column #bbpress-forums ul li { padding-left: 0; }
.wpb_text_column #bbpress-forums ul li.bbp-header { padding-left: 15px; }

@media (max-width: 960px) {
	.bbpress .entry-header.blog-header {
		padding-top: 30px;
    	padding-bottom: 25px;
	}
	#bbp_search_submit {width: 50px;}
	#bbpress-forums #bbp-search-form #bbp_search {
    width: calc(100% - 110px);
	}
	.bbpress #primary .right-sidebar {
    margin-top: 0;
    margin-left: 0;
    padding: 20px;
	}
	.bbpress-breadcrumbs {
    float: left;
    width: 100%;
	}
	#bbpress-forums div.bbp-reply-content p {text-align:left;}
	#bbpress-forums #bbp-single-user-details {
    margin: 0;
    width: 100%;
    float: left;
    text-align: center;
    overflow: hidden;
    margin-bottom: 40px;
	}
	#bbpress-forums #bbp-user-body {margin-left: 0;}
	#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta { text-align: left; }
	div.bbp-breadcrumb p { text-align: left; }
	.wpb_text_column #bbpress-forums ul { display: block; }
}

