@font-face {
  font-family: 'ekko-font';
  src:  url('../fonts/ekko-font.eot');
  src:  url('../fonts/ekko-font.eot#iefix') format('embedded-opentype'),
    url('../fonts/ekko-font.woff') format('woff'),
    url('../fonts/ekko-font.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}

.ekko-arrow-right,
.ekko-arrow-left,
.ekko-full-st,
.ekko-empty-st,
.fa-behance,
.fa-behance-square,
.fa-btc,
.fa-codepen,
.fa-css3,
.fa-delicious,
.fa-deviantart,
.fa-digg,
.fa-dribbble,
.fa-dropbox,
.fa-drupal,
.fa-empire,
.fa-facebook-f,
.fa-facebook-square,
.fa-flickr,
.fa-foursquare,
.fa-git,
.fa-github,
.fa-github-alt,
.fa-git-square,
.fa-google,
.fa-google-plus-square,
.fa-gratipay,
.fa-hacker-news,
.fa-html5,
.fa-instagram,
.fa-joomla,
.fa-jsfiddle,
.fa-linkedin,
.fa-linkedin-in,
.fa-linux,
.fa-maxcdn,
.fa-medium,
.fa-openid,
.fa-pagelines,
.fa-pied-piper,
.fa-pied-piper-alt,
.fa-pinterest,
.fa-pinterest-square,
.fa-qq,
.fa-rebel,
.fa-reddit,
.fa-reddit-square,
.fa-renren,
.fa-skype,
.fa-slack,
.fa-soundcloud,
.fa-spotify,
.fa-stack-exchange,
.fa-stack-overflow,
.fa-steam,
.fa-steam-square,
.fa-stumbleupon,
.fa-stumbleupon-circle,
.fa-telegram,
.fa-tencent-weibo,
.fa-trello,
.fa-tripadvisor,
.fa-twitter,
.fa-twitter-square,
.fa-viber,
.fa-vimeo-square,
.fa-vine,
.fa-vk,
.fa-weibo,
.fa-weixin,
.fa-whatsapp,
.fa-windows,
.fa-wordpress,
.fa-xing,
.fa-xing-square,
.fa-yahoo,
.fa-yelp,
.fa-youtube,
.fa-youtube-square,
.fa-adn,
.fa-android,
.fa-apple,
.fa-arrows-alt,
.fa-bell,
.fa-check,
.fa-chevron-down,
.fa-chevron-left,
.fa-chevron-right,
.fa-chevron-up,
.fa-comment,
.fa-comments,
.fa-exclamation-triangle,
.fa-file-alt,
.fa-file-image,
.fa-folder-open,
.fa-keyboard,
.fa-map-marker-alt,
.fa-play,
.fa-question-circle,
.fa-shopping-cart,
.fa-star,
.fa-star-o,
.fa-thumbtack,
.fa-angle-left,
.fa-angle-right,
.fa-angle-up,
.fa-angle-down,
.fa-envelope,
.fa-clock,
.fa-mobile-alt,
.fa-phone-alt,
.fa-search,
.fa-times
 {
    font-family:"ekko-font"!important;
    font-display:auto;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    display:inline-block;
    font-style:normal;
    font-variant:normal;
    text-rendering:auto;
    line-height:1;
    speak:none;
    font-weight: normal!important;
}

.ekko-arrow-right:before{content:"\e900";}
.ekko-arrow-left:before{content:"\e901";}
.ekko-full-star:before{content:"\53";}
.ekko-empty-star:before{content:"\73";}

.fa-behance:before{content:"\f1b4";}
.fa-behance-square:before{content:"\f1b5";}
.fa-btc:before{content:"\f15a";}
.fa-codepen:before{content:"\f1cb";}
.fa-css3:before{content:"\f13c";}
.fa-delicious:before{content:"\f1a5";}
.fa-deviantart:before{content:"\f1bd";}
.fa-digg:before{content:"\f1a6";}
.fa-dribbble:before{content:"\f17d";}
.fa-dropbox:before{content:"\f16b";}
.fa-drupal:before{content:"\f1a9";}
.fa-empire:before{content:"\f1d1";}
.fa-facebook-f:before{content:"\f39e";}
.fa-facebook-square:before{content:"\f082";}
.fa-flickr:before{content:"\f16e";}
.fa-foursquare:before{content:"\f180";}
.fa-git:before{content:"\f1d3";}
.fa-github:before{content:"\f09b";}
.fa-github-alt:before{content:"\f113";}
.fa-git-square:before{content:"\f1d2";}
.fa-google:before{content:"\f1a0";}
.fa-google-plus-square:before{content:"\f0d4";}
.fa-gratipay:before{content:"\f184";}
.fa-hacker-news:before{content:"\f1d4";}
.fa-html5:before{content:"\f13b";}
.fa-instagram:before{content:"\f16d";}
.fa-joomla:before{content:"\f1aa";}
.fa-jsfiddle:before{content:"\f1cc";}
.fa-linkedin:before{content:"\f08c";}
.fa-linkedin-in:before{content:"\f0e1";}
.fa-linux:before{content:"\f17c";}
.fa-maxcdn:before{content:"\f136";}
.fa-medium:before{content:"\f23a";}
.fa-openid:before{content:"\f19b";}
.fa-pagelines:before{content:"\f18c";}
.fa-pied-piper:before{content:"\f2ae";}
.fa-pied-piper-alt:before{content:"\f1a8";}
.fa-pinterest:before{content:"\f0d2";}
.fa-pinterest-square:before{content:"\f0d3";}
.fa-qq:before{content:"\f1d6";}
.fa-rebel:before{content:"\f1d0";}
.fa-reddit:before{content:"\f1a1";}
.fa-reddit-square:before{content:"\f1a2";}
.fa-renren:before{content:"\f18b";}
.fa-skype:before{content:"\f17e";}
.fa-slack:before{content:"\f198";}
.fa-soundcloud:before{content:"\f1be";}
.fa-spotify:before{content:"\f1bc";}
.fa-stack-exchange:before{content:"\f18d";}
.fa-stack-overflow:before{content:"\f16c";}
.fa-steam:before{content:"\f1b6";}
.fa-steam-square:before{content:"\f1b7";}
.fa-stumbleupon:before{content:"\f1a4";}
.fa-stumbleupon-circle:before{content:"\f1a3";}
.fa-telegram:before{content:"\f2c6";}
.fa-tencent-weibo:before{content:"\f1d5";}
.fa-trello:before{content:"\f181";}
.fa-tripadvisor:before{content:"\f262";}
.fa-twitter:before{content:"\f099";}
.fa-twitter-square:before{content:"\f081";}
.fa-viber:before{content:"\f409";}
.fa-vimeo-square:before{content:"\f194";}
.fa-vine:before{content:"\f1ca";}
.fa-vk:before{content:"\f189";}
.fa-weibo:before{content:"\f18a";}
.fa-weixin:before{content:"\f1d7";}
.fa-whatsapp:before{content:"\f232";}
.fa-windows:before{content:"\f17a";}
.fa-wordpress:before{content:"\f19a";}
.fa-xing:before{content:"\f168";}
.fa-xing-square:before{content:"\f169";}
.fa-yahoo:before{content:"\f19e";}
.fa-yelp:before{content:"\f1e9";}
.fa-youtube:before{content:"\f167";}
.fa-youtube-square:before{content:"\f431";}
.fa-adn:before{content:"\f170";}
.fa-android:before{content:"\f17b";}
.fa-apple:before{content:"\f179";}
.fa-arrows-alt:before{content:"\f0b2";}
.fa-bell:before{content:"\f0f3";}
.fa-check:before{content:"\f00c";}
.fa-chevron-down:before{content:"\f078";}
.fa-chevron-left:before{content:"\f053";}
.fa-chevron-right:before{content:"\f054";}
.fa-chevron-up:before{content:"\f077";}
.fa-comment:before{content:"\f075";}
.fa-comments:before{content:"\f086";}
.fa-exclamation-triangle:before{content:"\f071";}
.fa-file-alt:before{content:"\f15c";}
.fa-file-image:before{content:"\f1c5";}
.fa-folder-open:before{content:"\f07c";}
.fa-keyboard:before{content:"\f11c";}
.fa-map-marker-alt:before{content:"\f3c5";}
.fa-play:before{content:"\f04b";}
.fa-question-circle:before{content:"\f059";}
.fa-shopping-cart:before{content:"\f07a";}
.fa-star:before{content:"\f005";}
.fa-star-o:before{content:"\f006";}
.fa-thumbtack:before{content:"\f08d";}
.fa-angle-left:before{content:"\f104";}
.fa-angle-right:before{content:"\f105";}
.fa-angle-up:before{content:"\f106";}
.fa-angle-down:before{content:"\f107";}
.fa-envelope:before{content:"\f0e0";}
.fa-clock:before{content:"\f017";}
.fa-mobile-alt:before{content:"\f3cd";}
.fa-phone-alt:before{content:"\f879";}
.fa-search:before{content:"\f002";}
.fa-times:before{content:"\f00d";}
